In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"/kaggle/input/datasets/kathmer/bike-sharing-hours/Bike sharing - hour.csv")

In [3]:
df.head(10)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
5,6,2011-01-01,1,0,1,5,0,6,0,2,0.24,0.2576,0.75,0.0896,0,1,1
6,7,2011-01-01,1,0,1,6,0,6,0,1,0.22,0.2727,0.80,0.0000,2,0,2
7,8,2011-01-01,1,0,1,7,0,6,0,1,0.20,0.2576,0.86,0.0000,1,2,3
8,9,2011-01-01,1,0,1,8,0,6,0,1,0.24,0.2879,0.75,0.0000,1,7,8
9,10,2011-01-01,1,0,1,9,0,6,0,1,0.32,0.3485,0.76,0.0000,8,6,14

# Columns explications

✅ temp

Normalized air temperature.

Scaled roughly between 0 and 1.

Higher number = warmer

✅ atemp — “Feels like” temperature

This is apparent temperature.

It tries to capture:

- wind chill
- humidity effects
- human perception of warmth

✅ casual

Number of rentals by non-registered users

✅ registered

Rentals by subscribed users

✅ cnt

Total rentals

✅ Weathersit

1️⃣ = Clear / Good weather
- Clear sky
- Few clouds
- Partly cloudy

2️⃣ = Misty / Cloudy
- Mist
- Cloudy skies
- Not terrible, but less ideal

3️⃣ = Light bad weather
- Light snow
- Light rain
- Thunderstorm possible


4️⃣ = Heavy bad weather
- Heavy rain
- Snowstorm
- Fog

In [4]:
df.shape

(17379, 17)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [6]:
df[df.duplicated()]

Empty DataFrame
Columns: [instant, dteday, season, yr, mnth, hr, holiday, weekday, workingday, weathersit, temp, atemp, hum, windspeed, casual, registered, cnt]
Index: []

In [7]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [instant, dteday, season, yr, mnth, hr, holiday, weekday, workingday, weathersit, temp, atemp, hum, windspeed, casual, registered, cnt]
Index: []

In [8]:
df.isna().sum() == 0

instant       True
dteday        True
season        True
yr            True
mnth          True
hr            True
holiday       True
weekday       True
workingday    True
weathersit    True
temp          True
atemp         True
hum           True
windspeed     True
casual        True
registered    True
cnt           True
dtype: bool

In [9]:
numeric_cols = df.select_dtypes(include='number')

numeric_cols.describe().round(2)

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.00,17379.00,17379.0,17379.00,17379.00,17379.00,17379.00,17379.00,17379.00,17379.00,17379.00,17379.00,17379.00,17379.00,17379.00,17379.00
mean,8690.00,2.50,0.5,6.54,11.55,0.03,3.00,0.68,1.43,0.50,0.48,0.63,0.19,35.68,153.79,189.46
std,5017.03,1.11,0.5,3.44,6.91,0.17,2.01,0.47,0.64,0.19,0.17,0.19,0.12,49.31,151.36,181.39
min,1.00,1.00,0.0,1.00,0.00,0.00,0.00,0.00,1.00,0.02,0.00,0.00,0.00,0.00,0.00,1.00
25%,4345.50,2.00,0.0,4.00,6.00,0.00,1.00,0.00,1.00,0.34,0.33,0.48,0.10,4.00,34.00,40.00
50%,8690.00,3.00,1.0,7.00,12.00,0.00,3.00,1.00,1.00,0.50,0.48,0.63,0.19,17.00,115.00,142.00
75%,13034.50,3.00,1.0,10.00,18.00,0.00,5.00,1.00,2.00,0.66,0.62,0.78,0.25,48.00,220.00,281.00
max,17379.00,4.00,1.0,12.00,23.00,1.00,6.00,1.00,4.00,1.00,1.00,1.00,0.85,367.00,886.00,977.00

In [10]:
df['dteday'] = pd.to_datetime(df['dteday'])

# Weekends analysis

In [11]:
weekends = df[(df['weekday'] == 6) | (df['weekday'] == 0)]

In [12]:
weekends_comparison = weekends.groupby('hr')[['registered','casual']].mean()

weekends_comparison.round(1)

    registered  casual
hr
0         77.3    16.9
1         59.7    12.8
2         45.3    10.7
3         20.3     6.7
4          6.2     2.3
5          6.7     1.7
6         13.9     3.9
7         30.9     8.6
8         79.1    20.1
9        126.5    45.1
10       181.1    80.0
11       213.7   108.3
12       245.2   128.9
13       240.6   139.6
14       229.3   143.1
15       226.9   141.3
16       228.0   132.8
17       211.1   115.5
18       195.6    86.6
19       165.5    67.2
20       127.6    46.8
21       105.6    36.1
22        88.5    28.3
23        68.7    20.1

 - weekend riding shifts toward midday / afternoon
 - weekend registered usage appears to ramp up progressively toward midday rather than forming abrupt peaks
 - weekend riding is opportunity-driven, not clock-driven
 - registered riders behave like leisure riders

# Weather check

Reminder:

weathersit column:
1 = clear
2 = mist/cloudy
3 = light rain/snow
4 = heavy (rare)

In [13]:
nice_weather = weekends[weekends['weathersit'] == 1]

nice_weather_hours = nice_weather.groupby('hr')[['registered','casual']].mean()

nice_weather_hours.round(1)

    registered  casual
hr
0         83.0    18.8
1         61.9    13.4
2         45.0    11.1
3         20.3     7.2
4          6.2     2.4
5          7.2     1.9
6         14.7     4.4
7         33.9     9.7
8         85.1    22.1
9        135.8    49.2
10       195.1    89.1
11       228.2   122.6
12       261.9   145.7
13       251.8   154.3
14       245.2   159.8
15       240.4   155.6
16       240.2   145.0
17       223.1   122.4
18       207.8    93.8
19       175.4    73.0
20       136.5    51.3
21       111.5    39.7
22        94.1    31.4
23        69.6    21.2

- registered peak ≈ hr 12
- casual peak     ≈ hr 14 -> even in perfect weather, casual riders peak slightly later
- weather influences willingness, not schedule

In [14]:
medium_weather = weekends[weekends['weathersit'] == 2]

medium_weather_hours = medium_weather.groupby('hr')[['registered','casual']].mean()

medium_weather_hours.round(1)

    registered  casual
hr
0         66.6    13.4
1         57.5    12.8
2         47.9    10.5
3         21.7     6.3
4          6.7     2.2
5          5.8     1.4
6         13.5     3.2
7         27.2     7.4
8         71.6    18.0
9        114.3    41.3
10       162.7    67.5
11       197.6    84.2
12       216.4    89.9
13       231.4   109.3
14       217.7   116.3
15       218.1   124.0
16       233.4   130.5
17       211.6   121.2
18       195.1    88.1
19       156.9    63.0
20       114.2    39.5
21       101.3    31.4
22        83.4    24.5
23        73.3    18.4

- the shape of the day stays the same
- weather changes intensity, not timing

In [15]:
bad_weather = weekends[weekends['weathersit'] >= 3]

bad_weather_hours = bad_weather.groupby('hr')[['registered','casual']].mean()

bad_weather_hours.round(1)

    registered  casual
hr
0         48.9     5.9
1         44.6     5.1
2         36.3     7.2
3         13.9     4.0
4          3.6     2.3
5          5.3     1.2
6          5.9     1.2
7         16.8     3.3
8         39.2     5.9
9         62.8     9.2
10        83.1    20.4
11        81.4    23.2
12       171.4    93.5
13       138.1    65.1
14       130.6    71.9
15       149.4    76.2
16       122.1    45.3
17       137.4    63.7
18       100.0    25.1
19       105.4    30.2
20        87.1    27.8
21        63.5    16.5
22        50.5    10.7
23        49.6    16.1

- demand shrinks as weather worsens
- activity waits, then concentrates into a narrower window 12 PM

# Weekdays

In [16]:
week = df[(df['weekday'] != 6) & (df['weekday'] != 0)]

In [17]:
week_comparison = week.groupby('hr')[['registered','casual']].mean()

week_comparison.round(1)

    registered  casual
hr
0         30.2     7.4
1         13.5     3.9
2          7.0     2.4
3          4.2     1.0
4          4.6     0.8
5         23.0     1.3
6         95.2     4.3
7        270.1    12.0
8        442.2    22.3
9        213.6    25.1
10       105.3    32.8
11       122.2    39.7
12       160.6    43.7
13       157.4    45.1
14       139.5    48.2
15       155.9    48.0
16       242.4    49.9
17       458.3    57.6
18       432.3    50.8
19       301.9    41.3
20       214.9    32.0
21       159.5    25.1
22       117.4    19.8
23        74.2    13.2

- two very sharp peaks, bimodal distribution aligned with workday transitions
- casual riders do NOT follow the work clock
- schedule-driven commuting behavior

In [18]:
nice_weather = week[week['weathersit'] == 1]

nice_weather_hours = nice_weather.groupby('hr')[['registered','casual']].mean()

nice_weather_hours.round(1)

    registered  casual
hr
0         32.6     8.2
1         14.3     4.5
2          7.3     2.7
3          4.5     1.1
4          4.7     0.8
5         23.8     1.4
6         99.3     4.6
7        287.7    12.8
8        465.1    23.8
9        220.8    27.0
10       111.8    36.7
11       131.4    45.2
12       172.6    47.6
13       171.1    51.1
14       151.5    55.8
15       167.8    54.9
16       260.8    55.3
17       498.1    64.9
18       463.7    58.2
19       324.9    46.8
20       231.8    36.2
21       172.8    28.5
22       127.1    22.3
23        80.6    14.7

- the timing of the peaks did NOT move
- weather scales intensity but does not shift commuter schedules
- casual usage is governed more by free time than by weather alone

In [19]:
medium_weather = week[week['weathersit'] == 2]

medium_weather_hours = medium_weather.groupby('hr')[['registered','casual']].mean()

medium_weather_hours.round(1)

    registered  casual
hr
0         27.6     6.8
1         13.2     3.0
2          6.9     1.8
3          4.0     1.0
4          4.9     0.8
5         23.4     1.2
6         95.8     4.2
7        274.9    12.5
8        452.7    22.9
9        221.3    25.3
10       105.1    31.7
11       118.0    36.2
12       159.1    43.8
13       154.0    41.9
14       132.9    41.2
15       151.1    41.5
16       227.6    43.7
17       409.2    47.4
18       397.7    38.1
19       274.0    31.6
20       198.9    25.3
21       140.3    19.1
22       104.4    16.2
23        70.4    12.0

- weather does NOT change commuter timing

In [20]:
bad_weather = week[week['weathersit'] >= 3]

bad_weather_hours = bad_weather.groupby('hr')[['registered','casual']].mean()

bad_weather_hours.round(1)

    registered  casual
hr
0         18.7     3.0
1          8.2     1.8
2          4.7     1.5
3          2.6     0.5
4          3.5     0.8
5         15.3     0.7
6         64.4     2.5
7        157.6     6.3
8        252.2    10.3
9        131.7    11.9
10        61.0    10.8
11        67.6    13.0
12        82.0    15.8
13        75.8    15.2
14        70.3    15.4
15        80.5    16.7
16       140.8    23.8
17       282.6    28.0
18       291.5    28.0
19       178.5    20.3
20       117.9    13.0
21        94.6    11.2
22        65.8     8.0
23        37.1     5.8

- despite bad weather, the peaks are STILL at commuter hours
- casual riders are environment-sensitive, the demand drops significantly

# Skew

In [21]:
skew = df['cnt'].skew().round(2)

skew

np.float64(1.28)

- positive skew (> 0)
- most hours have moderate demand
- a smaller number of hours have very high spikes

In [22]:
checks = df.groupby('hr').agg(
    mean = ('cnt', 'mean'),
    median = ('cnt', 'median'),
    std=('cnt', 'std')
).round(2).sort_values(by='median', ascending=False)

checks['mean_median_diff'] = checks['mean'] - checks['median']

checks

      mean  median     std  mean_median_diff
hr
17  461.45   475.0  232.66            -13.55
18  425.51   418.5  224.64              7.01
8   359.01   385.0  235.19            -25.99
19  311.52   309.5  161.05              2.02
16  311.98   304.5  148.68              7.48
12  253.32   229.0  145.08             24.32
15  251.23   227.0  144.63             24.23
13  253.66   224.0  148.11             29.66
20  226.03   223.5  119.67              2.53
9   219.31   216.0   93.70              3.31
14  240.95   212.0  147.27             28.95
7   212.06   208.0  161.44              4.06
11  208.14   180.0  127.50             28.14
21  172.31   173.5   89.79             -1.19
10  173.67   147.0  102.21             26.67
22  131.34   129.0   69.94              2.34
23   87.83    80.0   50.85              7.83
6    76.04    76.0   55.08              0.04
0    53.90    40.0   42.31             13.90
1    33.38    20.0   33.54             13.38
5    19.89    19.0   13.20              0.89
2    22.87    11.0   26.58             11.87
4     6.35     6.0    4.14              0.35
3    11.73     6.0   13.24              5.73

What does mean < median suggest?

- occasional lower-than-usual values pulling the mean down, even strong commuter hours sometimes collapse
- communter peaks are high but fragile
- peak hours are the most volatile parts of the day, given their high standard deviation

# Conclusions:

⏰ Time Structure

Working days → bimodal commuter peaks

Weekends → broad midday plateau

🌦️ Environmental Effect

Weather scales how many people ride

But barely changes when they ride

👥 Rider Segmentation

Registered → constraint-driven

Casual → environment-driven


2 systems of riding:

🧠 System 1 — Constraint-Driven (Registered Riders)


Sharp peaks at 7–9 and 16–18

Peaks persist even under bad weather

Mean < median in commuter hours → occasional disruption, but strong baseline


👉 These riders follow external schedules.

The system behaves like a transport network during working days.



🌿 System 2 — Opportunity-Driven (Casual Riders)


Broad midday hill

Strong weather sensitivity

Larger variability and elastic hours


👉 These riders respond to comfort, leisure time, and environment.

The same bikes behave like a recreational system at other times.